.todo-container{
    width: 80%;
    margin-left: 100px;
    background-color: black;
    padding: 15px;
    border-radius:10px;
    color:white;
    margin:180px;
}
.header{
    color: white;
    font-size: 40px;
    text-align:center;
}
.input-container{
    border:2px solid yellow;
width: 50%;
    margin-left: 300px;
    padding: 10px;
    font-weight: 800;
}
.input{
    border-radius: 30px;
    height: 30px;
    width: 300px;
    padding: 10px;
    font-size: 30px;
    color:black;
}
.add-btn{
    height: 30px;
    width: 70px;
    margin-left: 80px;
    border-radius: 16px;
    font-weight: 800;
    color:black;
}
.list-tasks{
    border: 1px solid yellow;
    border-radius: 5px;
    width: 40%;
    font-size: 20px;
    margin-left: 350px;
    padding: 10px;
    color: yellow;
    margin-top: 20px;
    background-color:black;
}
.delete-btn{
    height: 30px;
    width: 80px;
    margin-left: 80px;
    border-radius: 20px;
    font-weight: 800;
}